
  .li-gallery-image img {
      width:150px;
      height:150px;
  }
  
  .gallery-container li{
  list-style: none;
  cursor: pointer;
  display: inline;
  padding: 5px;
  }
  

  h3{
      font-family: 'Roboto', sans-serif;
      color:gray;
      text-align: center;
  }
  
  .canvas-container{
      border-radius: 5px;
      text-align: center;
  }

  .tool-box{
    margin-bottom: 20px;
  }
  
  .tool-box>button{
    padding:5px;
    background-color: transparent;
  }
  
  
  /* tool box buttons */
  .tool-box input[type="image"]{
      width: 25px;
      height: 25px;
  }
  
.downloadBtn{
    height:50px;
      width: 100px;
  
  }

  .highlight{
  
  }


  


 
  
  
  
  