.li-gallery-image img {
    width:150px;
    height:150px;
}

.gallery-container li{
list-style: none;
display: inline;
padding: 5px;
}


header, h3{
    font-family: 'Roboto', sans-serif;
}

.canvas-container{
    text-align: center;
    background-color: antiquewhite;
}

.tool-box>button{
    background-color: transparent;
}


/* tool box buttons */
.tool-box input[type="image"]{
    width: 25px;
    height: 25px;
}


