@media screen and (min-width: 1000px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  #chkToggle:checked + ul.main-nav {
    display: flex;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }


}


@media screen and (max-width: 1000px){
  .container{
    width:750px;
  }

  .main-nav li {
    text-align: center;
    margin: 10px auto;
      position: relative;
      text-align: center;
      margin: 2px auto;
      background-color: #a5a5a5;
      border-radius: 5px;
    
  }
  
  header{
    height:65px;
  }
}


@media screen and (max-width: 780px){
  .container{
    width:500px;
  }

  
.edit-text {

  display: flex;
  flex-wrap: wrap;
  grid-template: none;
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows: repeat(4, 1fr); */
}

.canvas-container{
  grid-template: none;
}

.tool-box {
  grid-template: none;

}
.imageLoadertxt{
  display: none;
}
}

@media screen and (max-width: 550px){
  .container{
    width:280px;
    height: 100%;
  
  }

  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.logo {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
}

.canvas-container {
  margin-top: 7px;
}

}
