/* fonts */
@font-face {
  font-family: "Impact";
  src: url("/fonts/impact.ttf");
}

@font-face {
  font-family: "Verla";
  src: url("/fonts/Varela_Round/VarelaRound-Regular.ttf")
}

@font-face {
  font-family: "Indie";
  src: url("/fonts/Indie_Flower/IndieFlower-Regular.ttf")
}

@font-face {
  font-family: "Pt_sans";
  src: url("/fonts/PT_Sans/PTSans-Regular.ttf")
}


body {
  font-family: "Verla", serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
    max-width: 100%;
  min-height: 100vh;
  position:relative;
}


header {
  background-image: linear-gradient(135deg, #FFD3A5 10%, #FD6585 100%);
  box-shadow: 1px 1px 9px 3px #757575;
  width: 100vw;
  height: 100px;
  border-bottom-right-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}

.container {
  width: 980px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

img {
  width: 100%;
}

/* 
navBar */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  font-family: "Indie", serif;
  font-size: 30px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 40px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  /* position: absolute; */
  /* top: 10px; */
  /* right: -130px; */
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

#chkToggle {
  display: none;
}

#chkToggle:checked+ul.main-nav {
  display: block;
}

/* 
grid */

.gallery-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  list-style: none;
  margin-top: 25px;
  /* height: 70%; */
}

.gallery-container>li>img {
  cursor: pointer;
  border-radius: 10px;
}

.gallery-container>li>img:hover {
  opacity: 0.5;
}

/* tool box buttons */

.tool-box {
  display: grid;
  grid-template-columns:
    repeat(10, 1fr);
  grid-template-rows: repeat(8, auto);
}

.toolbox-btns>button,
#download,
.downloadBtn {
  background-color: transparent;
  width: 100%;
  min-height: 30px;
}

.toolbox-btns>button:hover,
#download:hover {
  cursor: pointer;
  background-image: linear-gradient(210deg, #74EBD5 0%, #f7e8ad 100%)
}


.edit-text input[type="image"] {
  width: 50px;
  height: 50px;
  padding: 5px;
  border: 2px solid #fd7d8c;
  border-radius: 5px;
}

.lineInput {
  height: 30px;
  border-radius: 5px;
  grid-column: 3 / 8;
  grid-row: 1 / 2;
}

.searchInput {
  height: 30px;
  border-radius: 5px;
  color: #fd6585;
}


.popular-search {
  display: inline;
}


.popular-search li {
  display: inline-block;
}


.gallert-options {
  text-align: center;
  margin-top: 20px;
}


.canvas-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.edit-text {
  grid-column: 3 / 9;
  grid-row: 2 / span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.toolbox-btns {
  display: grid;
  grid-column: 3 / 9;
  grid-row: 9 / 9;
  align-self: end;
}

.addBtn {
  width: 30px;
  height: 30px;
  grid-column: 8 / 9;
  grid-row: 1 /1;
  justify-self: end;
}

.hamburgerBtn {
  float: right;
  width: 40px;
  opacity: 0.7;
  margin-top: 17px;
  margin-right: -11px;
}

footer{
    position: fixed;
    bottom: 0;
    width:100vw;
   
    height:25px;
    border-top-right-radius: 10% 50%;
    border-top-left-radius: 10% 50%;
    background-image: linear-gradient(135deg, #FFD3A5 10%, #FD6585 100%);
    box-shadow: 1px 1px 9px 3px #757575;
}

.imageLoadertxt{
  color: #FD6585 ;
}